@import url( 'https://fonts.googleapis.com/css?family=Mali' );

body, html {
  padding: 10px;
  font-family: 'Mali';
  color: #444;
  font-size: 20px;
}

.loading {
  text-align: center;
  width: 320px;
  margin: 20px auto;
}

.warning {
  color: #666;
  padding: 10px 0;
}

.error {
  color: tomato;
  padding: 10px 0;
}